DB_HOST=sql313.infinityfree.com
DB_USER=if0_42077755
DB_PASS=your_database_password
DB_NAME=if0_42077755_tfnet_db
DB_PORT=3306

JWT_SECRET=change_this_secret

OMADA_BASE_URL=https://euw1-api-omada-controller-connector.tplinkcloud.com
OMADA_ID=33ad8c4694646130bc2060e444eb1263
OMADA_SITE_ID=
OMADA_CLIENT_ID=your_omada_client_id
OMADA_CLIENT_SECRET=your_omada_client_secret
OMADA_EMAIL=your_omada_email
OMADA_PASSWORD=your_omada_password
